@import 'colours.min.css';

body {
  font-family: sans-serif;
  background-color: var(--bg-s);
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  max-width: 90ch;
  display: flex;
  flex-flow: column;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

header {
  color: var(--fg-1);
  border-bottom: 5px double var(--fg-1);
}
header a {
  text-decoration: none;
}
header p {
  font-family: 'latin_modern', sans-serif;
  font-size: 2.1rem; 
  text-transform: uppercase;
  text-align: center;
  transform: scaleY(1.4);
  padding: 0;
  margin: 0;
  color: var(--fg-1);
}

#recipes {
  background-color: var(--bg-s);
  color: var(--fg-1);
  padding: 1em;
}

h1 {
  font-family: 'latin_modern', sans-serif;
  font-size: 2.3rem;
  margin: 0;
  letter-spacing: 1px;
}
h2 {
  font-family: 'latin_modern', sans-serif;
  margin: 0 0 0 1em;
  text-decoration: underline;
}
a {
  color: var(--fg);
}

/* Footer */
footer {
  background-color: var(--bg-1);
  background-image: url("../img/page-bg-dark.svg");
  display: flex;
  justify-content: space-between;
  padding: 1em 2em 1em 1em;
}
footer img {
  filter: invert(1);
  height: auto;
  width: auto;
}
footer a {
  color: var(--fg-1);
  padding: 0.1em 0;
}
.footer-links {
  display: flex;
  flex-direction: column;
  text-align: right;
}
:root.light-theme footer img {
  filter: invert(0);
}


@media print {
  @page {
    margin: 1.5cm;
  }
  body {
    background-image: initial;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
