@font-face {
  font-family: 'latin_modern';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Latin Modern Mono"), 
       local("LMMonoPropLt10-Regular"), 
       url('../fonts/latin-modern-mono-prop-light-10-regular-latin.woff2') format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
}
@font-face {
  font-family: 'latin_modern';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Latin Modern Mono"), 
       local("LMMonoPropLt10-Regular"), 
       url('../fonts/latin-modern-mono-prop-light-10-regular-latin-ext.woff2') format("woff2");
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
}

:root {
  color-scheme: dark;
  --bg: #1d2021;
  --bg-s: #32302f;
  --bg-1: #3c3836;
  --bg-2: #504945;
  --bg-3: #665c54;
  --bg-4: #7c6f64;
  --fg: #fbf1c7;
  --fg-1: #ebdbb2;
  --fg-2: #d5c4a1;
  --fg-3: #bdae93;
  --fg-4: #a89984;
  --gray: #928374;
  --red: #cc241daa;
  --red-alt: #fb4934;
  --green: #98971aaa;
  --green-alt: #b8bb26;
  --yellow: #d79921aa;
  --yellow-alt: #fabd2f;
  --blue: #458588aa;
  --blue-alt: #83a598;
  --purple: #b16286aa;
  --purple-alt: #d3869b;
  --orange: #d65d0eaa;
  --orange-alt: #fe8019;
  --aqua: #689d6aaa;
  --aqua-alt: #8ec07c;

  --photo-radius: .5rem;
  --button-radius: 0.5rem;
  --small-radius: 0.25rem;
  /* Generated using https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 20deg 6% 9%;
  --big-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.33),
    1.4px 2.8px 3.9px -0.9px hsl(var(--shadow-color) / 0.42),
    4.9px 9.9px 13.7px -1.7px hsl(var(--shadow-color) / 0.52);
  --small-shadow:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    1px 2px 2.8px -1.7px hsl(var(--shadow-color) / 0.52);
  --inset-shadow: 
    0 2px 0 hsl(0, 0%, 100%, 0.2),
    inset 0 2px 2px hsl(0, 0%, 0%, 0.25)
}
:root.light-theme {
  color-scheme: light;
  --bg: #f9f5d7;
  --bg-s: #f2e5bc;
  --bg-1: #ebdbb2;
  --bg-2: #d5c4a1;
  --bg-3: #bdae93;
  --bg-4: #a89984;
  --fg: #282828;
  --fg-1: #3c3836;
  --fg-2: #504945;
  --fg-3: #665c54;
  --fg-4: #7c6f64;
  --gray: #7c6f64;
  --red: #cc241daa;
  --red-alt: #9d0006;
  --green: #98971aaa;
  --green-alt: #79740e;
  --yellow: #d79921aa;
  --yellow-alt: #b57641;
  --blue: #458588aa;
  --blue-alt: #076678;
  --purple: #b16286aa;
  --purple-alt: #8f3f71;
  --orange: #d65d0eaa;
  --orange-alt: #af3a03;
  --aqua: #689d6aaa;
  --aqua-alt: #427b58;

  /* Generated using https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 46deg 32% 52%;
}