@import 'colours.min.css';

:root.light-theme dialog::backdrop {
  background-color: #f9f5d7;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-s);
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  max-width: 90ch;
  display: flex;
  flex-flow: column;
  height: 100vh;
}
main {
  padding: 1rem;
  background-color: var(--bg-s);
  flex: 1;
}
main p {
  margin: 0;
  padding-inline-start: 10px;
  margin-block-end: .5rem;
  font-size: 1.2rem;
  border-radius: 5px;
}
main p.orange{
  background: linear-gradient(0.25turn,var(--orange),90%,var(--orange-alt));
}
main p.purple{
  background: linear-gradient(0.25turn,var(--purple),90%,var(--purple-alt));
}
main p.yellow{
  background: linear-gradient(0.25turn,var(--yellow),90%,var(--yellow-alt));
}
main button {
  border-radius: var(--button-radius);
  border: none;
  padding: 1rem .1rem;
  font-family: 'latin_modern', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--fg-1);
  background-color: var(--button-bg);
  width: 10ch;
  box-shadow: var(--small-shadow);
  cursor: pointer;
}
main button:disabled {
  box-shadow: none;
  border: 2px solid var(--button-bg);
  background-color: var(--bg-s);
  filter: opacity(0.7);
}
main noscript p {
  font-size: 1rem;
  color: var(--fg-1);
  text-align: center;
}
section {
  color: var(--fg-1);
}


header {
  color: var(--fg-1);
  border-bottom: 5px double var(--fg-1);
}
header a {
  text-decoration: none;
}
header p {
  font-family: 'latin_modern', sans-serif;
  font-size: 2.1rem; 
  text-transform: uppercase;
  text-align: center;
  transform: scaleY(1.4);
  padding: 0;
  margin: 0;
  color: var(--fg-1);
}

#recent-recipes {
  display: flex;
  scroll-snap-type: x mandatory; 
  overflow-x: scroll;
  flex-direction: column;
  flex-wrap: wrap;
  /* Increased to avoid box-shadow bottom being abruptly cut off
  Sum of: photo height + photo padding + photo border + link margin + 20px extra room for shadow */
  height: calc(150px + 150px + 20px + 2px + 10px + 28px + 20px)
}
#recent-recipes::-webkit-scrollbar {
  width: 0 !important;
}
#recent h2 {
  font-family: 'latin_modern', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  padding: 10px;
  height: 150px;
  width: 280px;
  border: 1px solid var(--bg-2);
  background: var(--bg-img),linear-gradient(rgb(70, 70, 70), 40%, transparent);
  background-size: 100% auto;
  background-position: 50%;
  background-blend-mode: multiply;
  border-radius: var(--photo-radius);
  box-shadow: var(--big-shadow);
  position: relative;
  color: #ebdbb2; /* --fg-1 */
  letter-spacing: 1px;
  text-shadow: rgba(0, 0, 0, 0.3) 1.5px 1.5px 1px;
}
#recent a {
  padding: 0;
  text-align: left;
  scroll-snap-align: start;
  text-decoration: none;
  color: #fff;
  margin: 5px; 
  border-radius: var(--photo-radius);
}

#search {
  --button-bg: color-mix(in hsl, var(--purple) 30%, var(--bg-2));
}
#search-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  margin-inline: 5px;
  padding-block-start: 5px;
  padding-block-end: 1rem;
}

#settings {
  padding-block-start: 5px;
  --button-bg: color-mix(in hsl, var(--yellow) 25%, var(--bg-2));
}
#settings-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  margin-inline: 5px;
  padding-block-start: 5px;
  padding-block-end: 1rem;
}
#settings button {
  font-size: 1rem;
  height: 4.6rem;
  width: 15ch;
}
#settings .light-text {
  color: var(--fg-3);
}
#theme-btn {
  background-image: url("/img/sun-dark.svg");
  background-repeat: no-repeat;
  background-position: bottom -110% left;
  background-size: 40%;
  transition: background-position .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
:root.light-theme #theme-btn {
  background-image: url("/img/sun-light.svg");
  background-position: top left;
}

dialog {
  padding: 0;
  margin: 0 auto 0;
  width: 100vw;
  max-width: 800px;
  border: none;
  background: transparent;
}
dialog::backdrop {
  /* Backdrop does not inherit from any element so cannot use CSS variables.
  https://fullscreen.spec.whatwg.org/#::backdrop-pseudo-element
  This is --bg-s
  */
  background-color: #32302f;
}
dialog form {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-s);
  height: calc(100vh - 2.5rem);
}
dialog p {
  font-family: 'latin_modern', sans-serif;
  margin: 0;
  color: var(--fg-1);
  font-size: 2.1rem; 
  font-weight: normal;
}

dialog .dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem 0 1.5rem;
  border-bottom: 5px double var(--fg-1);
  background-color: var(--bg-s);
}
dialog .dialog-header button {
  border: none;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: var(--button-radius);
  font-size: 1.2rem;
  color: var(--bg);
  background-color: var(--fg-1);
  box-shadow: var(--small-shadow);
}

dialog .checkboxes {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 1rem 10px;
  overflow-x: scroll;
}
dialog .checkboxes::-webkit-scrollbar {
  width: 0 !important;
}
dialog #selected-ingredients {
  padding-top: 0;
}
dialog .checkbox {
  display: grid;
}
dialog .checkbox > * {
  grid-area: 1/1;
}
dialog .checkbox label {
  background-color: var(--fg-1);
  border: 2px solid var(--fg-1);
  color: var(--bg);
  padding: .1rem .7rem .2rem;
  border-radius: var(--photo-radius);;
  font-size: 1.1rem;
  white-space: nowrap;
  cursor: pointer;
}
dialog .checkbox input[type="checkbox"]:checked ~ label {
  background-color: var(--selected);
  color: var(--fg-1);
}
dialog .checkbox input[type="checkbox"] {
  appearance: none;
  background: none;
  border: none;
  block-size: 100%;
  inline-size: 100%;
  margin: 0;
}

dialog .search-pattern {
  font-size: 1.4rem;
  background-color: var(--bg);
  color: var(--fg-1);
  margin: 10px;
  border: 1px solid var(--fg-1-4);
  width: calc(100% - 20px);
  padding: 5px 5px 5px 1.7em;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: auto .9em;
  background-position: .4em;
  border-radius: var(--button-radius);
  box-sizing: border-box;
  box-shadow: var(--inset-shadow);
}
dialog .search-pattern::placeholder {
  color: var(--fg-4);
}
dialog .search-pattern:focus-visible, dialog .search-pattern:focus{
  outline: 2px solid var(--fg-1);
}

dialog .search-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 0 5px;
  justify-items: center;
  overflow-y: scroll;
  max-height: calc(100vh - 10.5rem);
  scroll-snap-type: y mandatory;
}
dialog .search-results::-webkit-scrollbar {
  width: 0 !important;
}
dialog .search-results a {  
  padding: 0;
  text-align: left;
  scroll-snap-align: start;
  text-decoration: none;
  color: #fff;
  margin: 5px; 
  border-radius: var(--photo-radius);
  height: 220px;
  width: calc(100% - 10px);
}
dialog .search-results h2 {
  position: relative;
  font-family: 'latin_modern', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
  padding: 10px;
  height: 100%;
  border: 1px solid var(--bg-2);
  background: var(--bg-img),linear-gradient(rgb(50,50,50),25%,transparent);
  background-size: auto 100%;
  background-position: 50%;
  background-blend-mode: multiply;
  border-radius: var(--photo-radius);
  box-shadow: var(--big-shadow);
  box-sizing: border-box;
  color: #ebdbb2; /* --fg-1 */
  letter-spacing: 1px;
}
dialog .recipe-label {
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  display: inline-block;
  margin: 3px;
  padding: 4px 12px;
  color: var(--fg-1);
  background-color: var(--bg-1);
  border-radius: var(--button-radius);
  border: 1px solid var(--bg-3);
  box-shadow: var(--small-shadow);
  position: absolute;
  left: 5px;
}
dialog .recipe-label:nth-of-type(1) {
  bottom: 5px;
}
dialog .recipe-label:nth-of-type(2) {
  bottom: 2.5rem;
}
dialog .recipe-label > .label-icon {
  height: calc(1em + .5px);
  width: 1em;
  position: relative;
  bottom: -2px;
}
.recipe-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  margin: 3px;
  color: var(--fg-1);
  background-color: var(--bg-1);
  border-radius: 50%;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: 1px solid var(--bg-3);
  box-shadow: var(--small-shadow);
}
.recipe-heart > .label-icon {
  height: 1rem;
  width: 1rem;
  position: relative;
  bottom: -1px;
}
