@import 'colours.min.css';

body {
  font-family: sans-serif;
  background-color: var(--bg-s);
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  max-width: 90ch;
  display: flex;
  flex-flow: column;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

header {
  color: var(--fg);
  border-bottom: 5px double var(--fg-1);
}
header a {
  text-decoration: none;
}
header p {
  font-family: 'latin_modern', sans-serif;
  font-size: 2.1rem; 
  text-transform: uppercase;
  text-align: center;
  transform: scaleY(1.4);
  padding: 0;
  margin: 0;
  color: var(--fg-1);
}

.recipe {
  background-color: var(--bg-s);
  color: var(--fg-1);
  padding: 1em;
}
.recipe-meta {
  display: inline-block;
  margin: 5px 2px;
  padding: 0 8px;
  color: var(--bg);
  background-color: var(--bg-2);
  border-radius: var(--button-radius);
  width: 8ch;
  height: 1.5rem;
}

.placeholder {
  display: block;
  background-color: var(--bg-2);
  width: var(--len);
  height: var(--height);
  margin-top: 2px;
  box-sizing: var(--small-shadow);
}
.placeholder-img {
  display: block;
  box-sizing: border-box;
  width: 90%;
  height: auto;
  max-width: 512px;
  aspect-ratio: 16 / 9;
  margin: 10px auto;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--bg-2);
  text-align: center;
  font-weight: bold;
  box-shadow: var(--big-shadow);
}
ul {
  margin: 5px 0;
}
hr {
  padding: 0;
  height: 1rem;
  border: none;
  border-top: 1px solid var(--fg-1);
  color: var(--fg-1);
  text-align: center;
  overflow: visible;
}
hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1.2rem;
  padding: 0 0.25em;
  background: var(--bg-s);
}

/* Increase spacing between instructions
   Instructions use the <ol> element
   The li + li ensures the style is only applied to li that are preceeded by another li
   i.e. the first element doesn't get extra margin-top
*/
ol > li + li {
  margin-top: 0.5em;
}

/* Footer */
footer {
  background-color: var(--bg-2);
  background-image: url("../img/page-bg-dark.svg");
  display: flex;
  justify-content: space-between;
  padding: 1em 2em 1em 1em;
}
footer img {
  filter: invert(1);
  height: auto;
  width: auto;
}
footer a {
  color: var(--fg);
  padding: 0.1em 0;
}
.footer-links {
  display: flex;
  flex-direction: column;
  text-align: right;
}

:root.light-theme footer img {
  filter: invert(0);
}