@import 'colours.min.css';

body {
  font-family: sans-serif;
  background-color: var(--bg-s);
  color: var(--fg-1);
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  max-width: 90ch;
  display: flex;
  flex-flow: column;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}
button {
  font-family: inherit;
}

.Dessert {
  --recipe-color: var(--aqua);
  --recipe-color-alt: var(--aqua-alt);
}
.Pork {
  --recipe-color: var(--purple);
  --recipe-color-alt: var(--purple-alt);
}
.Poultry {
  --recipe-color: var(--yellow);
  --recipe-color-alt: var(--yellow-alt);  
}
.RedMeat {
  --recipe-color: var(--red);
  --recipe-color-alt: var(--red-alt);
}
.Seafood {
  --recipe-color: var(--blue);
  --recipe-color-alt: var(--blue-alt);
}
.Veggie {
  --recipe-color: var(--green);
  --recipe-color-alt: var(--green-alt);
}

header {
  color: var(--fg);
  border-bottom: 5px double var(--fg-1);
}
header a {
  text-decoration: none;
}
header p {
  font-family: 'latin_modern', sans-serif;
  font-size: 2.1rem; 
  text-transform: uppercase;
  text-align: center;
  transform: scaleY(1.4);
  padding: 0;
  margin: 0;
  color: var(--fg-1);
}


.recipe {
  background-color: var(--bg-s);
  color: var(--fg-1);
  padding: 1em;
}
.recipe-info {
  display: inline-block;
  margin: 5px 2px;
  padding: 0 8px;
  color: var(--bg);
  background-color: var(--fg-1);
  border-radius: var(--button-radius);
  position: relative;
  vertical-align: top;
  transition: border-radius .25s;
  border: 2px solid var(--fg-1);
}
.icon {
  height: calc(1em + .5px);
  width: 1em;
  position: relative;
  bottom: -2px;
}
#share {
  background-color: var(--recipe-color);
  color: var(--fg-1);
}

.expander input[type="checkbox"] {
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.expander .extra-time-info {
  position: absolute;
  left: -2px; /* To account for 2px border on .recipe-info */
  top: -2px; /* To account for 2px border on .recipe-info */
  max-width: 0;
  max-height: 0;
  padding: 0 8px;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  background: 
    linear-gradient(
      var(--recipe-color),
      var(--recipe-color)
    ),
    linear-gradient(
      var(--bg),
      var(--bg)
    );
  color: var(--fg);
  border-radius: var(--button-radius);
  box-shadow: var(--small-shadow);
  border: 1px solid var(--fg);
  transition: max-height ease 0.5s;
  z-index: 1;
}
.expander input[type="checkbox"]:checked ~ label .extra-time-info {
  visibility: visible;
  max-width: 30ch; /* Something larger than auto */
  max-height: 30ch; /* Something larger than auto */
  transition: max-height ease 0.5s;
}
.extra-time-info table {
  padding-right: .5rem;
  border-spacing: 0;
}
.extra-time-info table td:first-of-type {
  text-align: right;
  padding-right: .5rem;
}
.extra-time-info table tr.idle td {
  border-top: 1px solid var(--fg);
}

h1 {
  font-family: 'latin_modern', sans-serif;
  font-size: 2.3rem;
  margin: 0;
  color: var(--fg);
  letter-spacing: 1px;
}
h2 {
  font-family: 'latin_modern', sans-serif;  
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  color: var(--fg);
  text-align: center;
}
p {
  text-align: justify;
}

/* Checkbox specific styles */
.checkbox {    
  display: grid;
}
.checkbox > * {
  grid-area: 1/1;
}
.checkbox input[type="checkbox"] {
  appearance: none;
  background: none;
  border: none;
  block-size: 100%;
  inline-size: 100%;
  margin: 0;
}
.checkbox label {
  font-family: sans-serif;
  font-size: 1rem;
  position: relative;
  display: block;
  padding-left: 20px;
  cursor: pointer;
}
.checkbox label:before {
  /* Cross icon */
  content: '×';
  position: absolute;
  width: 12px;
  height: 5px;
  top: -6px;
  left: 3px;
  scale: 1.5;
}
.checkbox label:after {
  /* Check icon */
  content: '';
  border-bottom: 2px solid var(--fg-1);
  border-left: 2px solid var(--fg-1);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  width: 12px;
  height: 5px;
  top: 6px;
  left: 0;
}
.checkbox input[type="checkbox"]:checked ~ label::after {
  /* Check icon animation */
  transform: rotate(-45deg) scale(1);
}
.checkbox input[type="checkbox"]:checked ~ label::before {
  content: "";
}
#wake:has(input[type="checkbox"]:checked){
  background-color: var(--recipe-color);
  color: var(--fg-1);
}
#show-amounts {
  margin: 0;
}
#show-amounts:has(input[type="checkbox"]:checked){
  background-color: var(--recipe-color);
  color: var(--fg-1);
}

.recipe-image {
  width: 100%;
  height: auto;
  max-width: 512px;
  display: block;
  margin: 10px auto;
  border: 1px solid var(--bg-2);
  border-radius: var(--photo-radius);
  box-shadow: var(--big-shadow);
}


.controls {
  display: flex;
  justify-content: flex-start;
  gap: .75rem;
  flex-wrap: wrap;
  margin: 0 .25rem 1rem;
}
.scale-btns, .unit-btns, .temp-btns {
  display: flex;
  gap: 5px;
}
.radio-btn {
  display: grid;
  min-width: 5.5ch;
}
.radio-btn > * {
  grid-area: 1/1;
}
.radio-btn label {
  background-color: var(--fg-1);
  border: 2px solid var(--fg-1);
  color: var(--bg);
  padding: 0 .4rem;
  border-radius: var(--button-radius);;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.radio-btn input[type="radio"]:checked ~ label {
  background-color: var(--recipe-color);
  color: var(--fg);
}
.radio-btn input[type="radio"] {
  appearance: none;
  background: none;
  border: 2px transparent;
  block-size: 100%;
  inline-size: 100%;
  padding: 0 0.4rem;
  margin: 0;
}

.button {  
  background-color: var(--fg-1);
  border: 2px solid var(--fg-1);
  color: var(--bg);
  min-width: 50px;
  font-size: 1.1rem;
  display: inline-block;
  border-radius: var(--photo-radius);
  transition: 0.2s;
  padding: .2rem .7rem;
}
.button.selected, .button:hover {
  background-color: var(--recipe-color);
  color: var(--fg);
}
details {
  padding: 5px 0;
}
details[open] > summary > svg {
  transform: rotate(270deg);
  margin-left: 6px;
  top: 3px;
}
ul {
  margin: 5px 0;
}
summary {
  margin-left: 1rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
summary::marker {
  display: none;
  content: "";
}
summary > svg {
  margin-left: 4px;
}

li[itemprop=recipeIngredient] > span[data-default] {
  font-weight: bold;
}
li[itemprop=recipeIngredient] > a {
  color: var(--fg);
  font-style: italic;
}
li > span.prep {
  color: var(--bg);
  background-color: var(--fg-4);
  border-radius: var(--small-radius);
  padding: 0 .25rem;
  margin: 1px 0;
}
hr {
  padding: 0;
  height: 1rem;
  border: none;
  border-top: 1px solid var(--fg-1);
  color: var(--fg-1);
  text-align: center;
  overflow: visible;
}
hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1.2rem;
  padding: 0 0.25em;
  background: var(--bg-s);
}

ol {
  margin-top: .5em;
}
/* Increase spacing between instructions
   Instructions use the <ol> element
   The li + li ensures the style is only applied to li that are preceeded by another li
   i.e. the first element doesn't get extra margin-top
*/
ol > li + li {
  margin-top: 0.5em;
}
ol li {
  position: relative;
}
ol li label {
  cursor: pointer;
}
ol li input[type="checkbox"]:checked ~ label {
  color: var(--fg-4);
}
ol li input[type="checkbox"]:checked ~ label .tooltip.visible {
  background-color: var(--bg-2);
}
ol li input[type="checkbox"]:checked ~ label .visible.tooltip::after {
  background-color: var(--recipe-color);
}
ol li input[type="checkbox"]:checked ~ label .toast-btn {
  background-color: var(--bg-2);
}
ol li input[type="checkbox"]:checked ~ label .toast-btn-icon {
  background-color: var(--fg-4);
}
ol input[type="checkbox"] {
  position: absolute;
  left: -1.4rem;
  top: 4px;
  margin: 0;
  width: 1.1rem;
  height: 1.1rem;
  accent-color: var(--recipe-color-alt);
}
ol input[type="checkbox"]:not(:checked) {
  display: none;
}


.hidden {
  display: none;
}
.nutrition {
  margin: 0 20px 20px;
  padding: 0;
  text-align: center;
}
.nutrition li {
  display: inline-block;
  text-align: center;
  margin: 10px 2px 0 2px;
  min-width: 5em;
  font-size: 12px;
  border: 2px solid var(--recipe-color);
  border-radius: var(--small-radius);
}
.nutrition-label {
  display: block;
  background-color: var(--bg-1);
  padding: 3px 0;  
}
.nutrition-value {
  display: block;
  background-color: var(--bg-3);
  padding: 3px 0; 
}

/* Book source */
.link {
  display: inline-flex;
  max-width: 40ch;
  color: var(--bg);
  background-color: var(--fg-1);
  border-radius: var(--button-radius);
  text-decoration: none;
  margin: 0 20px;
  border: 1px solid var(--fg-1);
  position: relative;
}
.link h3 {  
  font-size: 1rem;
  font-weight: normal;
  padding: 0 .5rem .1rem .5rem;
  margin: 0;
}
.link h3.external {
  text-decoration: underline;
}
/* Change padding if following cover image */
.link > img + h3 {
  padding: .5rem 2rem .5rem 1rem;
}
/* Change padding if following an svg image */
.link > svg + h3 {
  padding: 0 2rem .25rem .5rem;
}
.book-cover {
  height: 6rem;
  border-radius: var(--button-radius);
  text-decoration: none;
}
.link-icon {
  fill: var(--bg);;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  scale: 1.5;
}
.web-icon {
  position: relative;
  top: 0.3rem;
  height: 1.1rem;
  width: 1.1rem;
  padding-left: 0.2rem;
}

/* Footer */
footer {
  background-color: var(--bg-2);
  background-image: url("../img/page-bg-dark.svg");
  display: flex;
  justify-content: space-between;
  padding: 1em 2em 1em 1em;
}
footer img {
  filter: invert(1);
  height: auto;
  width: auto;
}
footer a {
  color: var(--fg);
  padding: 0.1em 0;
}
.footer-links {
  display: flex;
  flex-direction: column;
  text-align: right;
}

/* Ingredient substitutes */
.substitute-text {
  font-style: italic;
}
.substitute-btn {
  margin-left: .5rem;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  height: 1.5em;
  color: currentColor;
  font-size: inherit;
  background-color: var(--bg-3);
  border-radius: var(--small-radius);
  position: relative;
  display: inline-flex;
  gap: .5rem;
  justify-content: flex-start;
}
.substitute-btn:not(:has(span.hidden)) {
  padding-right: 6px;
}
.substitute-btn-icon {
  width: 1.5rem;
  height: 100%;
  background-color: var(--fg-2);
  border-radius: var(--small-radius);
}
.substitute-btn-icon svg {
  position: relative;
  color: var(--bg);
  top: 3px;
}
.hidden {  
  display: none;
}

/* Tooltip container */
.tooltip {
  display: inline-block;
}
.tooltip.visible {
  background-color: var(--bg-3);
  border-radius: var(--small-radius);
  padding-left: .25rem;
  margin: 1px 0;
}
/* Tooltip text */
.tooltip::after {
  content: attr(data-quantity) " " attr(data-unit);
  background-color: var(--recipe-color-alt);
  border-radius: var(--small-radius);
  box-shadow: var(--small-shadow);
  color: var(--bg);
  padding: 0 .25rem;
  margin-left: .35rem;
  display: none;
}
.visible.tooltip::after {
  display: inline-block;
}


/* Toast timers */
#timers {
  position: fixed;
  bottom: 10px;
  width: calc(100% - 20px);
  max-width: 60ch;
  /* center */
  left: 50%;
  transform: translateX(-50%);
}
.timer {
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--small-radius);
  padding-left: .25rem;
  padding-right: .5em;
  box-shadow: var(--inset-shadow);
  margin-top: .5rem;
  margin-right: .5rem;
  position: relative;
}
.timer div {
  display: flex;
  align-items: center;
}
.timer-expired {
  animation:  blink 1s infinite both;
}
.timer-progress {
  position: absolute;
  background-color: var(--bg-3);
  border-radius: var(--small-radius);
  box-shadow: var(--inset-shadow);
  left: 0;
  bottom: 0;
  height: 100%;
  transition: width 1.1s linear;
  /* The width is set by javascript */
}
.timer-text {
  font-size: 1.2rem;
  z-index: 1;  
  color: var(--bg);
  background-color: var(--recipe-color-alt);
  padding: 0 .5rem;
  border-radius: var(--small-radius);
}
.timer-label {
  font-size: 1.2rem;
  z-index: 1;
  margin-left: .5rem;
}
.timer-btns {
  height: 100%;
  z-index: 1;
}
.timer-btn {
  margin: 0;
  padding: 0;
  border: none;
  height: 2.1rem;
  width: 2.1rem;
  margin-top: 3px;
  background-color: transparent;
  cursor: pointer;
}
.timer-icon {
  height: 50%;
}

.toast-btn {
  padding-right: 6px;
  padding-left: 1.75rem;
  border: none;
  outline: none;
  cursor: pointer;
  height: 1.5em;
  color: currentColor;
  font-size: inherit;
  background-color: var(--bg-3);
  border-radius: var(--small-radius);
  position: relative;
}
.toast-btn-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1.5rem;
  background-color: var(--fg-2);
  border-radius: var(--small-radius);
}
.toast-btn-icon svg {
  position: relative;
  color: var(--bg);
  top: 3px;
}
.toast-delete {
  /* 0.4 second duration, 1 iteration only */
  animation: zoom forwards 0.4s ease-out 1;
}

@keyframes blink {
  0%, 100% {background-color: var(--recipe-color-alt); }
  50% {background-color: var(--recipe-color); }
}

@keyframes zoom { 
  0% {transform: scale(1); opacity: 1; }
  50% {transform: scale(0); opacity: 0; }
  100% {transform: scale(0); width: 0; height: 0; opacity: 0; padding: 0; margin: 0; }
}

:root.light-theme .timer-icon, :root.light-theme .substitute-icon {
  /* This filter is the equivalent to #1d2021 i.e. var(--bg) in dark theme */
  filter: brightness(0) saturate(100%) invert(10%) sepia(60%) saturate(0%) hue-rotate(60deg) brightness(95%) contrast(92%);
}
:root.light-theme footer img {
  filter: invert(0);
}

@media print {
  @page {
    margin: 1.5cm;
  }
  :root {
    color-scheme: light;
    --bg: #fff;
    --bg-s: #fff;
    --bg-1: #ddd;
    --bg-3: #fff;
    --fg: #000;
    --fg-1: #000;
    --big-shadow: 0 0 0 0;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .scale-btns, .unit-btns, .temp-btns, .substitute-icon, .toast-btn, .checkbox, footer, #wake, #show-amounts {
    display: none;
  } 
  /* Links where href starts with http */
  .link[href^='http']:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
  .link {
    max-width: initial;
  }
  .link img, .link svg {
    display: none;
  }
}
