        <footer>
            <div>
                <img src="/img/logo.svg" alt="" height="1" width="1"/>
            </div>
            <div class="footer-links">
                <a href="/">Homepage</a>
                <a href="/all-recipes">All Recipes</a>
                <a href="/random">Random</a>
                <a href="/feed/atom.xml">Feed</a>
            </div>
        </footer>
