<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Description" content="{{ name }}"/>
        <meta name="viewport" content="width=device-width"/>
        <meta name="theme-color" content="#292d33"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ name }} | Stranger Foods"/>
        <meta property="og:description" content="{{ name }}"/>
        <meta property="og:image" content="{{ image_absolute }}"/>
        <meta property="og:url" content="{{ url_absolute }}"/>
        <meta property="og:site_name" content="Stranger Foods"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="{{ name }} | Stranger Foods"/>
        <meta name="twitter:description" content="{{ name }}"/>     
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'sha256-{{ style_hash }}'; script-src 'self';"/>
        <title>{{ name }} | Stranger Foods</title>
        <link rel="preload" href="/fonts/latin-modern-mono-prop-light-10-regular-latin.woff2" as="font" type="font/woff2" crossorigin/>
        <link rel="preload" href="/fonts/latin-modern-mono-prop-light-10-regular-latin-ext.woff2" as="font" type="font/woff2" crossorigin/>
        <link rel="preload" href="/css/colours.min.css" as="style"/>
        <link rel="stylesheet" type="text/css" href="/css/recipe.min.css"/>
        <link rel="icon" href="/favicon.svg" type="image/svg+xml"/>
        <script src="/js/scale_timers.min.js"></script>
        <noscript><style type="text/css">.scale-btns,.unit-btns,.temp-btns,.substitute-icon,.toast-btn{display: none;}</style></noscript>
    </head>
    <body class="{{ category }}" itemscope itemtype="https://schema.org/Recipe">

        <header>
            <a href="/">
                <p>Stranger&nbsp;Foods</p>
            </a>
        </header>

        <section class="recipe">
            <h1 itemprop="name">{{ name }}</h1>

            <meta itemprop="datePublished" content="{{ dateCooked }}"/>
            <meta itemprop="totalTime" content="{{ totalTime }}"/>
            <meta itemprop="prepTime" content="{{ prepTime }}"/>
            <meta itemprop="performTime" content="{{ cookTime }}"/>
            <meta itemprop="recipeYield" content="{{ yield }} servings"/>
            <span class="recipe-info">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 60 90"><g fill="currentColor"><path d="M26.814 21.33c0-10.2-6.003-21.3-13.407-21.3C6.002.03 0 11.13 0 21.33c0 6.429 2.387 10.96 6.006 13.433 2.262 1.546 3.647 4.075 3.599 6.814l-.76 43.582c-.042 2.419 1.717 4.6 4.126 4.824a4.568 4.568 0 005.003-4.626l-.764-43.78c-.048-2.739 1.338-5.268 3.599-6.814 3.618-2.474 6.005-7.004 6.005-13.433zM60.983 29.703L60.219.973a1 1 0 00-1-.973h-2.222a1 1 0 00-1 1v24.127a1 1 0 01-1 1h-1.915a1 1 0 01-1-1V1a1 1 0 00-1-1h-2.297a1 1 0 00-1 1v24.127a1 1 0 01-1 1H44.87a1 1 0 01-1-1V1a1 1 0 00-1-1h-2.222a1 1 0 00-1 .973l-.764 28.73a3.999 3.999 0 002.961 3.969l2.14.575a2.998 2.998 0 012.221 2.95l-.84 48.159a4.566 4.566 0 109.132 0l-.84-48.159a3.001 3.001 0 012.221-2.95l2.14-.575a3.998 3.998 0 002.964-3.969z"/></g></svg>
                Serves <span id="servings" data-default="{{ yield }}">{{ yield }}</span>
            </span>
            <span class="recipe-info expander">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 100 100"><circle cx="50" cy="50" r="45" fill="none" stroke="currentColor" stroke-width="10"/><path stroke="currentColor" fill="none" stroke-width="10" d="M50 15v35l25 25"/></svg>
                {% if inactiveTime is defined or (prepTimeReadable is defined and cookTimeReadable is defined) -%}
                <input type="checkbox" id="time-info"/>
                <label for="time-info">
                    {{ totalTimeReadable }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <div class="extra-time-info">
                        <table>
                            <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 100 100"><circle cx="50" cy="50" r="45" fill="none" stroke="currentColor" stroke-width="10"/><path stroke="currentColor" fill="none" stroke-width="10" d="M50 15v35l25 25"/></svg>
                                    {{ totalTimeReadable }}
                                </td>
                                <td>Total</td>
                            </tr>
                            {%- if prepTimeReadable is defined -%}
                            <tr>
                                <td>{{ prepTimeReadable }}</td>
                                <td>Prep</td>
                            </tr>
                            {%- endif -%}
                            {%- if cookTimeReadable is defined -%}
                            <tr>
                                <td>{{ cookTimeReadable }}</td>
                                <td>Cook</td>
                            </tr>
                            {%- endif -%}
                            {%- if inactiveTimeReadable is defined -%}
                            <tr class="idle">
                                <td>+ {{ inactiveTimeReadable }}</td>
                                <td>Idle</td>
                            </tr>
                            {%- endif -%}
                        </table>
                    </div>
                </label>
                {% else -%}
                {{ totalTimeReadable }}
                {% endif -%}
            </span>

            {% if category == 'Veggie' -%}
            <span class="recipe-info">Vegetarian</span>
            {% endif -%}                
            {% if diet.Vegan -%}
            <span class="recipe-info">Vegan</span>
            {% endif -%}
            {% if diet.DairyFree -%}
            <span class="recipe-info">Dairy Free</span>
            {% endif -%}
            {% if diet.GlutenFree -%}
            <span class="recipe-info">Gluten Free</span>
            {% endif -%}
            {% if diet.NutFree -%}
            <span class="recipe-info">Nut Free</span>
            {% endif -%}
            {% if cuisine != "" -%}
            <span class="recipe-info">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" fill="currentColor"/></svg>
                {{ cuisine }}
            </span>
            {% endif -%}

            <span id="share" href="javascript:;" class="recipe-info hidden">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16">
                  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                </svg>
                Share
            </span>

            <span id="wake" class="recipe-info hidden">
                <div class="checkbox">
                    <input type="checkbox" id="wakelock" name="wakelock"/>
                    <label for="wakelock">Keep Awake</label>
                </div>
            </span>

            <img itemprop="image" class="recipe-image" src="{{ image }}" alt="Recipe image" width="512" height="288"/>
            {% if hasDescription -%}
            <p itemprop="description">{{ description }}</p>
            {% endif -%} 

            <h2>Ingredients</h2>
            <hr/>

            <div class="controls">
                <div class="scale-btns">
                    <div class="radio-btn">
                        <input type="radio" name="scale" value="x0.5" id="x0.5"/>
                        <label for="x0.5">x0.5</label>
                    </div>
                    <div class="radio-btn">
                        <input type="radio" name="scale" value="x1" id="x1" checked/>
                        <label for="x1">x1</label>
                    </div>
                    <div class="radio-btn">
                        <input type="radio" name="scale" value="x2" id="x2"/>
                        <label for="x2">x2</label>
                    </div>
                    <div class="radio-btn">
                        <input type="radio" name="scale" value="x3" id="x3"/>
                        <label for="x3">x3</label>
                    </div>
                </div>
                <div class="unit-btns">
                    <div class="radio-btn">
                        <input type="radio" name="units" value="metric" id="metric" {{ "checked" if units == "metric" }}/>
                        <label for="metric">Metric</label>
                    </div>
                    <div class="radio-btn">
                        <input type="radio" name="units" value="imperial" id="imperial" {{ "checked" if units == "imperial" }}/>
                        <label for="imperial">Imperial</label>
                    </div>
                </div>
            </div>
            {{ ingredients | format_ingredients(ingredient_headings) }}
        
            <h2>Instructions</h2>
            <hr/>

            <div class="controls">
                <div class="temp-btns">
                    <div class="radio-btn">
                        <input type="radio" name="temp" value="C" id="C" checked/>
                        <label for="C">°C</label>
                    </div>
                    <div class="radio-btn">
                        <input type="radio" name="temp" value="F" id="F"/>
                        <label for="F">°F</label>
                    </div>
                </div>
                <span id="show-amounts" class="recipe-info hidden">
                    <div class="checkbox">
                        <input type="checkbox" id="amounts" name="amounts"/>
                        <label for="amounts">Inline Amounts</label>
                    </div>
                </span>
            </div>
            
            <ol>
                {% for instruct in instructions -%}
                <li itemprop="recipeInstructions">
                    <input type="checkbox" id="instruction-{{ loop.index }}" />
                    <label for="instruction-{{ loop.index }}">
                        {{ instruct.text | annotate_instruction(annotatable_ingredients) }}
                    </label>
                </li>
                {% endfor -%}
            </ol>

            
            {% if nutritionInfo -%}
            <h2>Nutrition</h2>
            <hr/>

            <div itemprop="nutrition" itemscope itemtype="https://schema.org/NutritionInformation">
                <ul class="nutrition">
                    <li>
                        <span class="nutrition-label">kcal</span>
                        <span itemprop="calories" class="nutrition-value">{{ nutrition.calories }}</span>
                    </li>
                    <li>
                        <span class="nutrition-label">fat</span>
                        <span itemprop="fatContent" class="nutrition-value">{{ nutrition.fat }} g</span>
                    </li>
                    <li>
                        <span class="nutrition-label">saturates</span>
                        <span itemprop="saturatedFatContent" class="nutrition-value">{{ nutrition.saturates }} g</span>
                    </li>
                    <li>
                        <span class="nutrition-label">carbs</span>
                        <span itemprop="carbohydrateContent" class="nutrition-value">{{ nutrition.carbohydrates }} g</span>
                    </li>
                    <li>
                        <span class="nutrition-label">sugar</span>
                        <span itemprop="sugarContent" class="nutrition-value">{{ nutrition.sugars }} g</span>
                    </li>                   
                    <li>
                        <span class="nutrition-label">fibre</span>
                        <span itemprop="fiberContent" class="nutrition-value">{{ nutrition.fibre }} g</span>
                    </li>
                    <li>
                        <span class="nutrition-label">protein</span>
                        <span itemprop="proteinContent" class="nutrition-value">{{ nutrition.protein }} g</span>
                    </li>
                    <li>
                        <span class="nutrition-label">salt</span>
                        <span itemprop="sodiumContent" class="nutrition-value">{{ nutrition.salt }} g</span>
                    </li>
                </ul>
            </div>  
            {% endif -%}            

            <hr/>
            {% if book -%}
            <a class="link" href="{{ book_url }}" target="_blank">
                <img src="/covers/{{ book_cover }}" class="book-cover" alt="Image of {{ source }} book cover.">
                <h3>{{ source }}</h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="link-icon"><path fill-rule="evenodd" d="M16 .5a.5.5 0 00-.5-.5h-5a.5.5 0 000 1h3.793L6.146 9.146a.5.5 0 10.708.708L15 1.707V5.5a.5.5 0 001 0v-5z" fill=currentColor/></svg>
            </a>
            {% elif url != '' -%}
            <a class="link" href="{{ url }}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="web-icon">
                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539c.142-.384.304-.744.481-1.078a6.7 6.7 0 0 1 .597-.933A7.01 7.01 0 0 0 3.051 3.05c.362.184.763.349 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9.124 9.124 0 0 1-1.565-.667A6.964 6.964 0 0 0 1.018 7.5h2.49zm1.4-2.741a12.344 12.344 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.612 13.612 0 0 1 7.5 10.91V8.5H4.51zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696c.12.312.252.604.395.872.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964A13.36 13.36 0 0 1 3.508 8.5h-2.49a6.963 6.963 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855.143-.268.276-.56.395-.872A12.63 12.63 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5a6.963 6.963 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008h2.49zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343a7.765 7.765 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z"/>
                </svg>
                <h3 class="external">{{ source }}</h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="link-icon"><path fill-rule="evenodd" d="M16 .5a.5.5 0 00-.5-.5h-5a.5.5 0 000 1h3.793L6.146 9.146a.5.5 0 10.708.708L15 1.707V5.5a.5.5 0 001 0v-5z" fill=currentColor/></svg>
            </a>
            {% else -%}
            <span class="link">
                <h3>{{ source }}</h3>
            </span>
            {% endif -%}
        </section>
{% include "footer.html" %}
    </body>
</html>