<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Description" content="Homepage for Tom's recipes"/>
        <meta name="viewport" content="width=device-width"/>  
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Stranger Foods"/>
        <meta property="og:description" content="Recipes Tom has cooked."/>
        <meta property="og:image" content="https://www.strangerfoods.org/img/header-lrg.png"/>
        <meta property="og:url" content="https://www.strangerfoods.org/"/>
        <meta property="og:site_name" content="Stranger Foods"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="Stranger Foods"/>
        <meta name="twitter:description" content="Recipes Tom has cooked."/> 
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline';"/>
        <title>Stranger Foods</title>
        <link rel="alternate" type="application/atom+xml" title="Stranger Foods" href="https://www.strangerfoods.org/feed/atom.xml"/>
        <link rel="alternate" type="application/feed+json" title="Stranger Foods" href="https://www.strangerfoods.org/feed/feed.json"/>
        <link rel="preload" href="/fonts/latin-modern-mono-prop-light-10-regular-latin.woff2" as="font" type="font/woff2" crossorigin/>
        <link rel="preload" href="/fonts/latin-modern-mono-prop-light-10-regular-latin-ext.woff2" as="font" type="font/woff2" crossorigin/>
        <link rel="stylesheet" type="text/css" href="/css/index.min.css"/>
        <script defer src="/js/flexsearch.light.js"></script>
        <script defer src="/js/search_data.min.js"></script>
        <script defer src="/js/search.min.js"></script>
        <noscript><style type="text/css">.slider.closed {max-height: unset;}</style></noscript>
        <!-- icons and manifest for PWA -->
        <link rel="manifest" href="./manifest.json"/>
        <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png"/>
        <link rel="icon" href="favicon.svg" type="image/svg+xml"/>
        <meta name="theme-color" content="#292d33"/>  
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="#757575"/> 
        <meta name="apple-mobile-web-app-title" content="Stranger Foods"/> 
        <meta name="msapplication-TileImage" content="icons/icon-144.png"/>  
        <meta name="msapplication-TileColor" content="#757575"/>
    </head>
    <body>
        <header>
            <a href="/">
                <p>Stranger&nbsp;Foods</p>
            </a>
        </header>

        <main>
            <section id="recent">
                <p class="orange">Latest</p>
                <div id="recent-recipes">
                    {% for recipe in latest -%}
                    <a href="/recipes/{{ recipe.slug }}">
                        {%- if 'placeholder' in recipe.keys() -%}
                        <h2 style="--bg-img: url('{{ recipe.placeholder }}');">
                        {%- else -%}
                        <h2 style="--bg-img: url('/images/{{ recipe.slug }}.webp');">
                        {%- endif -%}
                            {{ recipe.name }}
                            {% if recipe.positive -%}
                            <span class="recipe-heart">
                                <svg xmlns="http://www.w3.org/2000/svg" class="label-icon" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                </svg>
                            </span>
                            {% endif -%}
                        </h2>
                    </a>
                    {% endfor -%}
                </div>
            </section>

            <section id="search">
                <p class="purple">Search</p>
                <noscript><p>Javascript must be enabled for search functionality.</p></noscript>
                <div id="search-buttons">
                    <button type="button" id="name-btn" disabled>Name</button>
                    <button type="button" id="category-btn" disabled>Category</button>
                    <button type="button" id="cuisine-btn" disabled>Cuisine</button>
                    <button type="button" id="tag-btn" disabled>Tag</button>
                    <button type="button" id="source-btn" disabled>Source</button>
                    <button type="button" id="ingredients-btn" disabled>Ingredient</button>
                </div>
            </section>

            <section id="settings">
                <meta name="update-hash" content="{{ updateHash }}"/>
                <meta name="cache-size" content="{{ cacheSize }}"/>
                <p class="yellow">Settings</p>
                <noscript><p>Javascript must be enabled for settings functionality.</p></noscript>
                <div id="settings-options">
                    <button type="button" id="cache-site-btn" disabled>Cache Site</button>
                    <button type="button" id="theme-btn" disabled>
                        Theme<br/>
                        <span class="light-text">Auto</span>
                    </button>
                </div>
            </section>
        </main>

    </body>

    <dialog id="dialog-category">
        <form method="dialog">
            <div class="dialog-header">
                <p>Filter by category</p>
                <button type="button">⨯</button>
            </div>
            <div class="checkboxes" style="--selected:var(--orange);--selected-text:var(--bg)">
                {% for category, formatted in categories -%}
                <div class="checkbox">
                    <input type="checkbox" value="{{ category }}" id="{{ category }}" name="{{ category }}"/>
                    <label for="{{ category }}">{{ formatted }}</label>
                </div>
                {% endfor -%}
            </div>
            <div id="result-category" class="search-results"></div>
        </form>
    </dialog>

    <dialog id="dialog-cuisine">
        <form method="dialog">
            <div class="dialog-header">
                <p>Filter by cuisine</p>
                <button type="button">⨯</button>
            </div>
            <div class="checkboxes" style="--selected:var(--blue);--selected-text:var(--bg)">
                {% for cuisine, formatted in cuisines -%}
                <div class="checkbox">
                    <input type="checkbox" value="{{ cuisine }}" id="{{ cuisine }}" name="{{ cuisine }}"/>
                    <label for="{{ cuisine }}">{{ formatted }}</label>
                </div>
                {% endfor -%}
            </div>
            <div id="result-cuisine" class="search-results"></div>
        </form>
    </dialog>

    <dialog id="dialog-tag">
        <form method="dialog">
            <div class="dialog-header">
                <p>Filter by tag</p>
                <button type="button">⨯</button>
            </div>
            <div class="checkboxes" style="--selected:var(--purple);--selected-text:var(--bg)">
                {% for tag, formatted in tags -%}
                <div class="checkbox">
                    <input type="checkbox" value="{{ tag }}" id="{{ tag }}" name="{{ tag }}"/>
                    <label for="{{ tag }}">{{ formatted }}</label>
                </div>
                {% endfor -%}
            </div>
            <div id="result-tag" class="search-results"></div>
        </form>
    </dialog>

    <dialog id="dialog-name">
        <form method="dialog">
            <div class="dialog-header">
                <p>Filter by name</p>
                <button type="button">⨯</button>
            </div>
            <div>
                <input id="search-name" class="search-pattern" type="search" placeholder="Search {{ total }} recipes" aria-label="Search for recipes"/>
            </div>
            <div id="result-name" class="search-results"></div>
        </form>
    </dialog>

    <dialog id="dialog-source">
        <form method="dialog">
            <div class="dialog-header">
                <p>Filter by source</p>
                <button type="button">⨯</button>
            </div>
            <div>
                <input list="recipe-sources" type="search" name="search-source" placeholder="Search recipe sources" class="search-pattern" id="search-source" autocomplete="off"/>
                <datalist id="recipe-sources">
                {% for source in sources -%}
                    <option name="{{ source }}">{{ source }}</option>
                {% endfor -%}
                </datalist>
            </div>
            <div id="result-source" class="search-results"></div>
        </form>
    </dialog>

    <dialog id="dialog-ingredients">
        <form method="dialog">
            <div class="dialog-header">
                <p>Filter by ingredients</p>
                <button type="button">⨯</button>
            </div>
            <div>
                <input list="recipe-ingredients" type="search" name="search-ingredients" placeholder="Search recipes by ingredients" class="search-pattern" id="search-ingredients" autocomplete="off"/>
                <datalist id="recipe-ingredients">
                {% for synonym, fdc_id in ingredients.items() -%}
                    <option value="{{ synonym }}" data-fdc-id="{{ fdc_id }}"></option>
                {% endfor -%}
                </datalist>
                <div class="checkboxes" id="selected-ingredients" style="--selected:var(--aqua);--selected-text:var(--bg)">
                </div>
            </div>
            <div id="result-ingredients" class="search-results"></div>
        </form>
    </dialog>
</html>