<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="Description" content="Homepage for Tom's recipes"/>
        <meta name="viewport" content="width=device-width"/>  
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'sha256-/3O9DH+/A7bxWkDC4SrLP0nr9Wmb7h11Q8QET5Fb+0I=';"/>
        <title>Stranger Foods</title>
        <link rel="preload" href="/fonts/latin-modern-mono-prop-light-10-regular-latin.woff2" as="font" type="font/woff2" crossorigin/>
        <link rel="preload" href="/fonts/latin-modern-mono-prop-light-10-regular-latin-ext.woff2" as="font" type="font/woff2" crossorigin/>
        <link rel="preload" href="/css/colours.min.css" as="style"/>
        <link rel="stylesheet" type="text/css" href="/css/all.min.css"/>
        <!-- icons and manifest for PWA -->
        <meta name="theme-color" content="#292d33"/> 
        <link rel="icon" href="favicon.svg" type="image/svg+xml"/>
    </head>
    <body>
        <header>
            <a href="/">
                <p>Stranger&nbsp;Foods</p>
            </a>
        </header>

        <section id="recipes"> 
            <h1>All recipes</h1>
            {% for key, values in recipes.items() -%}
            <h2 id="{{ key }}">{{ key }}</h2>
            <ul>
                {% for recipe in values -%}
                <li>
                    <a href="/recipes/{{ recipe.slug }}">
                        {{ recipe.name }}
                    </a>
                </li>
                {% endfor -%}
            </ul>
            {% endfor -%}
        </section>
{% include "footer.html" %}
        <script type="text/javascript">
          if (localStorage.getItem("light-theme") == "true") {
            let html = document.querySelector("html");
            html.classList.add("light-theme");
          }
        </script>
    </body>
</html>